body {
    font-family: "Roboto", sans-serif;
}

p {
    font-family: "Lato", sans-serif;
}


.main {
  max-width: 900px;
  margin: 0 auto;
  align-items: center;
}



.video-container {
  max-width: 900px;
  margin: 0 auto;
}

.video-container video {
  width: 100%;
  height: auto;
}





.about-container {
    max-width: 900px; /* Изменено на 900px */
    margin: 0 auto;
    padding: 20px;
  }
  
  .about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; /* Выравниваем элементы по верхнему краю */
  }
  
  .about-text {
    width: calc(50% - 10px); /* Вычисляем ширину текста (50% от родительского контейнера минус отступы) */
  }
  
  .about-img {
    max-width: calc(50% - 10px); /* Вычисляем максимальную ширину изображения (50% от родительского контейнера минус отступы) */
    border-radius: 12px;
  }
  
  @media screen and (max-width: 600px) {
    .about-content {
      flex-direction: column; /* Изменяем направление флексбокса на вертикальное */
      align-items: flex-start; /* Выравниваем элементы слева */
    }
    
    .about-text {
      width: 100%; /* Растягиваем элемент текста на всю ширину родительского контейнера */
    }
  
    .about-img {
      max-width: calc(100% - 10px); /* Изменяем максимальную ширину изображения */
    }
  }
  

  .link-about-person {
    text-align: center;
  }

.link-about-person, a {
    text-decoration: none;
}




/* Об учителях */

h2 {
    text-align: center;
}

.peoples {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
}

.people {
    display: flex;
    flex-direction: row;
}

.people img {
  height: fit-content;
    width: 250px;
    border-radius: 12px;
}

.text {
    margin-left: 10px;
}

@media screen and (max-width: 600px) {
    .people {
        flex-direction: column;
        align-items: center;
    }

    .people img {
        margin: 0 auto;
    }

    .text {
        margin-left: 0;
        text-align: left;
    }

    .people h2 {
        text-align: center;
    }
}